<main class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">ダッシュボード</h1>


      <div class="card bg-base-100 shadow my-6">
      <% @if_then_rules.each do |rule|  %>
        <div class="card bg-base-100 shadow-lg border border-base-300"><%= if_then_rule_board_view(rule)  %></div>
      <% end  %>
      </div>

      <div class="mt-12 flex flex-col gap-3">
        <%= link_to "新しく習慣を作成する", step1_if_then_rules_flow_path, class:"btn btn-primary" %>
      </div>

    </div>
  </div>
</main>
