<main class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold mb-4">ダッシュボード</h1>


      <% if @if_then_rules.any? %>
        <h2 class="text-lg font-bold ">
          今日のルール
        </h2>

        <div class="space-y-2">
          <% @if_then_rules.active.each do |rule| %>
            <div class="card bg-base-100 shadow border border-base-300 p-4">
              <%= if_then_rule_board_view(rule) %>
              <% if rule.reflected_today? %>
                <p>完了！</p>

              <% else %>
              <%= button_to "✔️",
                if_then_rule_reflections_path(rule),
                method: :post,
                class: "btn btn-sm btn-outline" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <!--<p class="text-sm text-gray-500 mb-2">
          完了済み <span class="font-normal"><%= "#{@if_then_rules.done.length} " %></span>
        </p>-->
      <% else %>
        <p class="mb-6 text-gray-600">まだ実行中のルールがありません</p>
      <% end %>

      

      <div class="mt-12 flex flex-col gap-3">
        <%= link_to "新しく習慣を作成する", step1_if_then_rules_flow_path, class:"btn btn-primary" %>
      </div>

    </div>
  </div>
</main>
