<header class="navbar bg-base-100 shadow px-6">
  <div class="flex-1">
    <a class="text-xl font-bold">ifthen maker</a>
  </div>
  <div class="flex-none gap-2">
    <%= link_to "ログアウト",
            logout_path,
            data: {
              turbo_method: :delete,
              turbo_confirm: "ログアウトしますか？"
            },
            class: "btn btn-outline btn-error" %>
  </div>
</header>
<main class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">ダッシュボード</h1>

      <div class="card bg-base-100 shadow my-6">
        <div class="card bg-base-100 shadow-lg border border-base-300">習慣</div>
        <div class="card bg-base-100 shadow-lg border border-base-300">習慣</div>
        <div class="card bg-base-100 shadow-lg border border-base-300">習慣</div>
      </div>

      <div class="mt-12 flex flex-col gap-3">
        <a href="#" class="btn btn-primary"> 新しく習慣を作成する</a>
      </div>

    </div>
  </div>
</main>
<footer class="footer footer-center p-6 text-base-content bg-base-100 shadow">
  <div>
    <div class="flex gap-4 bg-configtest">
      <a href="#" class="link link-hover">ホーム</a>
      <a href="#" class="link link-hover">習慣一覧</a>
      <a href="#" class="link link-hover">メモ一覧</a>
      <a href="#" class="link link-hover">振り返り一覧</a>
    </div>
  </div>
</footer>