<!--ダッシュボードで使用する今日のルール一覧のパーシャル-->
<turbo-frame id="today_rules">
  <div class="space-y-2">
    <% rules.each do |rule| %>

    <!--card-->
      <%= render "if_then_rules/cards/rule_card",  rule: rule,bg_class: rule.reflected_today? ? "bg-base-300 " : "bg-base-100" , show_status: false do %>
          <!--ルールのifとthenのグループ-->
        <%= link_to if_then_rule_path(rule),
        class:"cursor-pointer hover:bg-base-200 transition group",
        data:{turbo_frame: "_top"} do %>
          <div class = "  p-4 rounded-t-lg ">
          <%= render "if_then_rules/cards/rule_sentence", rule: rule %>
          </div>
        <% end %>
        <%= render "if_then_rules/cards/rule_actions_dashboard",  rule: rule %>
      <% end %>

    <% end %>
  </div>
</turbo-frame>
