<turbo-frame id="today_progress">
<div>
  <div>
    <%= "今日やったルールの数:#{progress[:done]}" %>
  </div>

  <div class="w-full bg-gray-300 rounded-full h-2 mt-2">
    <div
      class="bg-success h-2 rounded-full transition-all"
      style="width: <%= progress[:percent] %>%">
    </div>
  </div>
  <p class="text-xs text-gray-500 mt-1">
    <%= progress[:done] %> / <%= progress[:total] %>
  </p>
</div>
</turbo-frame>