<!--ダッシュボードで使用する今日のルール一覧のパーシャル-->
<turbo-frame id="today_rules">
  <div class="space-y-2">
    <% rules.active.each do |rule| %>

    <!--card-->
      <%= render "if_then_rules/cards/rule_card",  rule: rule,bg_class: rule.reflected_today? ? "bg-success/80 " : "bg-[#eaf2fb]" , show_status: false do %>
        <%= render "if_then_rules/cards/rule_actions_dashboard",  rule: rule %>
      <% end %>

    <% end %>
  </div>
</turbo-frame>
