<!--ダッシュボードで使用する今日のルール一覧のパーシャル-->
<turbo-frame id="today_rules">
  <div class="space-y-2">
    <% rules.each do |rule| %>

    <!--card-->
      <%= render "if_then_rules/cards/rule_card",  rule: rule, bg_class: rule.reflected_today? ? "bg-base-300 " : "bg-base-100" , show_status: false, absolute_link: if_then_rule_path(rule), show_weeks: true ,card_actions: :dash_board%>

    <% end %>
  </div>
</turbo-frame>
