<div class="max-w-md">
      <h1 class="text-4xl font-bold">振り返り一覧</h1>
<ul>
<% @reflections.group_by(&:reflected_on).each do |date, reflections| %>
  <h2 class="text-lg font-semibold mt-4 mb-2"><%= date.strftime("%Y年%-m月%-d日") %></h2>
  <ul class="space-y-2">
    <% reflections.each do |reflection| %>
      <li class="bg-[#eaf2fb] card shadow-md rounded-lg p-4">
        <%= if_then_rule_board_view(reflection.if_then_rule) %>
      </li>
    <% end %>
  </ul>
<% end %>

</div>
