<footer class="footer footer-center p-6 text-base-content bg-base-100 shadow">
  <div>
    <div class="flex gap-4 bg-configtest">
      <a href="#" class="link link-hover">ホーム</a>
      <a href="#" class="link link-hover">習慣一覧</a>
      <a href="#" class="link link-hover">メモ一覧</a>
      <a href="#" class="link link-hover">振り返り一覧</a>
    </div>
  </div>
</footer>