<footer class="footer footer-center p-6 text-base-content">
  <div>
    <p>
      &copy; <%= Time.current.year %> Ifthenmaker.
    </p>
    <div class="flex gap-4 bg-configtest">
      <a href="https://github.com/salbola/habit-engine" target="_blank">GitHub リポジトリ</a>
    </div>
  </div>
</footer>