<footer class="footer footer-center p-6 text-base-content">
  <div>
    <p>
      &copy; <%= Time.current.year %> Ifthenmaker.
    </p>
    <div class="flex gap-4 bg-configtest">
      <a href="#" class="link link-hover">プライバシーポリシー</a>
      <a href="#" class="link link-hover">利用規約</a>
    </div>
  </div>
</footer>