<header class="navbar bg-base-100 shadow px-6">
  <div class="flex-1">
    <%= link_to "ifthen maker", root_path, class:"text-xl font-bold" %>

  </div>
  <div class="flex-none gap-2">
    <%= link_to "新規登録", new_user_path, class:"btn btn-ghost" %>
    <%= link_to "ログイン", login_path, class:"btn btn-outline btn-primary" %>

  </div>
</header>