<header class="navbar bg-base-100 shadow px-6">
  <div class="flex-1">
    <%= link_to "ifthen maker", dash_boards_path, class:"text-xl font-bold" %>
  </div>
  <div class="flex-none gap-2">
    <%= link_to "ログアウト",
            logout_path,
            data: {
              turbo_method: :delete,
              turbo_confirm: "ログアウトしますか？"
            },
            class: "btn btn-outline btn-error" %>
  </div>
</header>