<div class="card bg-base-100 shadow">
<div class="card-body items-center text-center">
  <p class="text-sm text-gray-500"><%= title %></p>
  <p class="text-3xl font-bold">
    <%= value %>
    <span class="text-sm "><%= unit %></span>
  </p>
</div>
</div>