<ul class="space-y-3 list-disc list-inside">
  <% warning_hints_for(target).each do |concept| %>
    <li>
    <span class="hint-label"><%= concept.definition[:label] %></span>
    <span class="ml-1 text-xs text-gray-400"><%= concept.definition.dig(:hint, :content) %></span>
    </li>
  <% end %>
</ul>
