    <% content_for :title do %>
      If-Thenルール一覧
    <% end %>


<div class="max-w-1vw">

  <% if @if_then_rules.any? %>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <% @if_then_rules.each do |rule| %>
        <%= render "if_then_rules/cards/rule_card",  rule: rule do %>
          <%= render "if_then_rules/cards/rule_actions_list",  rule: rule %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500">
      まだIf-Thenルールはありません。
    </p>
    <p class="text-gray-500">
    まずは一つメモやルールを作ることから始めましょう。
    </p>
  <% end %>
    <div class="mt-12 flex flex-col gap-3">
      <%= link_to "新しくルールを作成する", step1_if_then_rules_flow_path, class:"btn btn-primary" %>
    </div>

</div>