<% content_for :title do %>
  if-then makerの使い方
<% end %>
<!--全体の流れ-->
<div class="space-y-4">
<div class="card bg-white p-2">
<h2 class="font-bold text-lg text-center my-6">全体の流れ</h2>

  <section id="step_memo" class="card-body">
    <h3 class="font-bold  my-3">0. 日々思いついた工夫,達成したいことをメモに書き留めます</h3>
    <p>日々の生活で気づいた工夫や知識,達成したいことをメモとして作成します</p>
    <p>このメモの内容がこれから作る"マイルール"の目的になります</p>
    <div class="bg-gray-100 p-3 rounded text-sm">
      ex: 朝起きたら → コップ一杯の水を飲む
    </div>
  </section>
<div class="divider"></div>
  <section id="step_rule" class="card-body">
    <h3 class="font-bold  my-3">1.メモをもとに行動,"if-thenルール"を作ります</h3>
    <p>この際はひとまず考えすぎなくても大丈夫です。</p>
    <p><strong>”もし~~~したらその時は---する"</strong></p>
    <p>という形式で穴埋めをするように実行するタイミングと実行する最初のステップを決めます。</p>
    <p>ヒントとして実行しやすいルールの考え方のチェックリストがあります。</p>
    <p>さらにアプリでは行動しにくくなる可能性のある文言を自動でチェックします。</p>
    <div class="bg-gray-100 p-3 rounded text-sm">
        <p>ex: もし 朝起きたら</p>
        <p>その時は コップ一杯の水を飲む</p> 
        <%= image_tag "landing_pages/if_then_form.png", class: "rounded shadow" %>
    </div>
  </section>
<div class="divider"></div>

  <section id="step_check" class="card-body">
  <h3 class="font-bold  my-3">2.毎日作ったルールをチェックします</h3>
  <p>ダッシュボードでは作った実行中のルールが毎日表示されます</p>
  <p>そのルールをチェックすることで簡単に実行を振り返れます</p>
      <div class="bg-gray-100 p-3 rounded text-sm">
      <%= image_tag "landing_pages/dash_board_today_rules.png", class: "rounded shadow" %>
    </div>
  </section>
<div class="divider"></div>

  <section id="step_reflection" class="card-body">
  <h3 class="font-bold  my-3">3.振り返りをします(wip)</h3>
  <p>振り返りではこれまでのルールのチェックを確認できます</p>
  <p>実行するのが大変だったり、できなかったりしたルールは編集してより実行しやすいルールに変えるとよいでしょう</p>
      <div class="bg-gray-100 p-3 rounded text-sm">
      <p class="text-sm text-gray-600">
      💡できなかったルールがあっても問題ありません。
      大切なのは「なぜ難しかったか」を見直し、
      次はもっと小さなルールに変えることです。
      </p>
    </div>
  </section>

</div>
<!--このアプリが採用している考え方-->
  <div class="card bg-white p-2">
    <h2 class="font-bold text-lg text-center my-4">このアプリが使っている考え方</h2>
    <section id="note_memo" class="card-body">
      <h3 class="font-bold  my-3">メモを書く(目標設定,自己決定)</h3>
      <p></p>
    </section>
  <div class="divider"></div>
    <section id="note_if_then_rule" class="card-body">
      <h3 class="font-bold  my-3">if-thenルール(実行意図)</h3>
      <p></p>
    </section>
  <div class="divider"></div>
    <section id="note_tiny_step" class="card-body">
      <h3 class="font-bold  my-3">最小の最初のステップ(20秒,5ルール,ベビーステップ)</h3>
      <p></p>
    </section>
  <div class="divider"></div>
    <section id="note_single_task" class="card-body">
      <h3 class="font-bold  my-3">タスクを減らす(ワーキングメモリ)</h3>
      <p></p>
    </section>

  </div>
</div>


