<main class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">
        If then maker
      </h1>


      <div class="space-y-4 ">
<p> 日々の小さな習慣やタスクを、"もし〜なら、〜する" のルールで簡単に整理。</p>
<p> 思考や行動を見える化して、やりたいことをスムーズに実行。</p>
<p> 複雑な設定なしで、すぐに使い始められます。</p>
      </div>

      <div class="mt-6 flex flex-col gap-3">
        <a href=<%= new_user_path %> class="btn btn-primary">
          新規登録
        </a>
        <a href=<%= login_path %> class="btn btn-outline">
          ログイン
        </a>
        <a href="#" class="link link-hover text-gray-500">
          サービスについて
        </a>
      </div>
    </div>
  </div>
</main>
