<header class="navbar bg-base-100 shadow px-6">
  <div class="flex-1">
    <a href= <%= root_path %> class="text-xl font-bold">ifthen maker</a>
  </div>
  <div class="flex-none gap-2">
    <a href=<%= new_user_path %> class="btn btn-ghost">新規登録</a>
    <a href="#" class="btn btn-outline btn-primary">ログイン</a>
  </div>
</header>

<main class="hero min-h-[70vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">
        仮のランディングページ
      </h1>

      <p class="py-6 text-lg">
        キャッチコピーーーーーーー。
      </p>

      <div class="space-y-2 text-sm text-base-content/80">
        <p>ここでサービスの紹介や特徴-------------</p>
        <p>リンクや画像を追加--------------</p>
      </div>

      <div class="mt-6 flex flex-col gap-3">
        <a href=<%= new_user_path %> class="btn btn-primary">
          新規登録
        </a>
        <a href="#" class="btn btn-outline">
          ログイン
        </a>
        <a href="#" class="link link-hover">
          サービスについて
        </a>
      </div>
    </div>
  </div>
</main>

<footer class="footer footer-center p-6 text-base-content">
  <div>
    <p>
      &copy; <%= Time.current.year %> IFTHENMAKER.
    </p>
    <div class="flex gap-4 bg-configtest">
      <a href="#" class="link link-hover">プライバシーポリシー</a>
      <a href="#" class="link link-hover">利用規約</a>
    </div>
  </div>
</footer>