<main class="hero min-h-[70vh] bg-[#69c5d4]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">
        If then maker
      </h1>
      <p class="mb-10"> 日々の小さな習慣やタスクを、if-thenルールで簡単に習慣化。</p>

      <div class="space-y-4 bg-[#eaf2fb] card shadow-md rounded-lg p-4">

<p>
このアプリは本やネットで得た<strong>「小さな工夫」を、実際の行動に変える</strong>ためのサービスです。</p>
<p>良いアイデアや工夫を知っても、実行に移せないことが多くあります。</p>
<p>このアプリは、工夫を if-then 形式で具体化し、今すぐ試せる小さな行動に変えることを目的としています。</p>
      </div>

      <div class="mt-6 flex flex-col gap-3">
        <p class="text-sm text-gray-100 mb-2 animate-bounce">今日から小さな習慣を始めましょう</p>
        <%= link_to "新規登録", new_user_path, class:"btn  bg-[#fff462]" %>
        <%= link_to "ログイン", login_path, class:"btn btn-outline" %>


      </div>
      <p class="text-sm text-gray-500 mb-4 mt-9">
          ※本アプリは現在開発中です。一部機能は順次追加予定です。
      </p>
    </div>
  </div>
  
</main>
