
  <h1 class="text-5xl font-bold">
    If then maker
  </h1>

  <p class="mb-10"> 日々の小さな工夫を、if-thenルールで簡単にルール化。</p>

  <div class=" bg-base-100 card shadow-md rounded-lg p-4">

    <h2 class="mb-6">
    このアプリは本やネットで得た<strong>「小さな工夫」を、実際の行動に変える</strong>ためのサービスです。</h2>
    <div class ="text-sm space-y-4" >
    <p>
      良いアイデアや工夫を知っても、実際にやろうとするとつい先延ばしにしてしまうことが多いものです。
      たとえば…
    </p>
    <ul class="list-disc list-inside ml-4 mb-4 text-left ">
      <li>朝コップ一杯の水を飲むと健康に良い</li>
      <li>仕事前にデスクを整頓するとはかどる</li>
      <li>寝る前にスマホはみない方がよい</li>
      <li>毎日筋トレやストレッチするようにした方が良い</li>etc..
    </ul>
    <p>
      このアプリは、そんな「知ってはいるけどやれない」を、「if-thenルール」で具体的な行動に変えるお手伝いをします。
    </p>
    </div>
  </div>

  <div class="mt-6 flex flex-col gap-3">
    <%= link_to "より詳しく", "/about" , class:"text-sm underline"%>
    <p class="text-sm text-gray-100 mb-2 animate-bounce">今日から小さなルール作りを始めましょう</p>
    <%= link_to "新規登録", new_user_path, class:"btn  btn-primary" %>
    <%= link_to "ログイン", login_path, class:"btn btn-outline" %>


  </div>
  <p class="text-sm text-gray-500 mb-4 mt-9">
      ※本アプリは現在開発中です。一部機能は順次追加予定です。
  </p>


