<% content_for :title do %>
  プライバシーポリシー
<% end %>

<p>本アプリ（if then maker）は、ユーザーの個人情報について以下の通り取り扱います。</p>


<div class="card bg-white p-4 space-y-2">
  <h2 class="text-lg pt-6">お客様から取得する情報</h2>
<p>
  運営者は、利用者から以下の情報を取得します。
</p>
<ul>
  <li>メールアドレス</li>
  <li>
    外部サービスで利用者が利用するID、その他外部サービスの
    プライバシー設定により、利用者が連携先に開示を認めた情報
  </li>
  <li>Cookie（クッキー）を用いて生成された識別情報</li>
</ul>
<div class="divider"></div>
<h2 class="text-lg pt-6">お客様の情報を利用する目的</h2>
<p>
  運営者は、取得した情報を以下の目的のために利用します。
</p>
<ul>
  <li>本サービスに関する登録の受付、本人確認、認証のため</li>
  <li>本サービスの利用履歴を管理するため</li>
  <li>
    本サービスにおける利用者の行動履歴を分析し、
    サービスの維持・改善に役立てるため
  </li>
  <li>本サービスに関する案内を行うため</li>
  <li>
    その他、本サービスの提供、維持、保護および改善のため
  </li>
</ul>
<div class="divider"></div>
<h2 class="text-lg pt-6">安全管理のために講じた措置</h2>
<p>
  運営者は、利用者から取得した情報について、
  安全管理のために必要かつ適切な措置を講じます。
  具体的な内容については、末尾記載のお問い合わせ先まで
  ご連絡ください。法令の定めに従い、個別にご回答いたします。
</p>
<div class="divider"></div>
<h2 class="text-lg pt-6">第三者提供</h2>
<p>
  運営者は、取得した情報のうち個人データ
  （個人情報保護法第16条第3項）に該当するものについて、
  あらかじめ利用者の同意を得ることなく、
  第三者（日本国外にある者を含みます）に提供しません。
</p>
<p>
  ただし、以下の場合を除きます。
</p>
<ul>
  <li>個人データの取扱いを外部に委託する場合</li>
  <li>本サービスが買収等により事業承継される場合</li>
  <li>
    事業パートナーと共同利用する場合
    （具体的な内容は別途公表します）
  </li>
  <li>その他、法令により第三者提供が認められる場合</li>
</ul>
<div class="divider"></div>
<h2 class="text-lg pt-6">プライバシーポリシーの変更</h2>
<p>
  運営者は、必要に応じて本プライバシーポリシーの内容を
  変更することがあります。
  変更後の内容および施行時期については、
  適切な方法により周知または通知します。
</p>
<div class="divider"></div>
<h2 class="text-lg pt-6">お問い合わせ</h2>
<p>
  利用者の情報の開示、訂正、利用停止、削除等のご希望については、
  以下のメールアドレスまでご連絡ください。
</p>
<p>
  e-mail：bonbers.51243@gmail.com
</p>

<div class="divider"></div>
<p class="text-sm">2026年02月08日 制定</p>
</div>
