<p class="text-xs font-medium text-secondary text-left group-hover:bg-base-200">
  もし
</p>
<p class="text-md bg-blue-100 rounded px-2 py-1 text-primary group-hover:bg-base-200">
  <%= rule.if_condition %>
</p>

<p class="text-xs font-medium text-secondary text-left group-hover:bg-base-200">
  その時は
</p>
<p class="text-lg font-semibold text-primary bg-green-100 rounded px-2 py-1 group-hover:bg-base-200">
  <%= rule.then_action %>
</p>