<p class="text-xs font-medium text-gray-500 text-left">
  もし
</p>
<p class="text-sm text-gray-700 bg-blue-100 rounded px-2 py-1 ">
  <%= rule.if_condition %>
</p>

<p class="text-xs font-medium text-gray-500 text-left">
  その時は
</p>
<p class="text-sm font-semibold text-primary bg-green-100 rounded px-2 py-1">
  <%= rule.then_action %>
</p>