    <% content_for :title do %>
      メモ編集
    <% end %>

    <div class="relative">
    <%= link_to '← メモ詳細へ戻る',
        memo_path(@memo),
        class: 'btn btn-ghost btn-sm ' %>
    </div>

    
    
<%= render "memo_form", memo: @memo, url: memo_path(@memo), method: :patch %>
